@font-face {
    font-family: 'MyLocalFont'; /* 원하는 폰트 이름 지정 */
    src: local('Eulyoo1945-Regular.ttf'),
         url('fonts/Eulyoo1945-Regular.ttf') format('woff2'), 
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Eulyoo1945-Regular.ttf', sans-serif;
    margin: 20px;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-family: 'Eulyoo1945-Regular.ttf', sans-serif;
    font-size: 2em;
}

header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images/IMG_2083.jpeg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
#sns-links {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images/sns-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
